<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PYTHONPATH" value="C:\Websites\BlueStatus" />
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="WSGI_LOG" value="C:\Python313\DCW_Logs\wfastcgi.log" />
    <add key="PYTHON_ENV_PATH" value="C:\Websites\BlueStatus\.env" />
    <add key="AZURE_TENANT_ID" value="8d05cdc4-bf69-4e6a-b5d3-428050a7f00f" />
    <add key="AZURE_CLIENT_ID" value="0e97fde2-8d49-4ea4-b24f-3ef7597057b2" />
    <add key="AZURE_ADMIN_GROUP_ID" value="198488f0-69b5-4d4d-9b12-e1d3939b2edc" />
  </appSettings>

  <system.webServer>
    <handlers accessPolicy="Read, Script">
      <add name="Flask" path="*" verb="*" modules="FastCgiModule"
           scriptProcessor="C:\Python313\python.exe|C:\Python313\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>

    <!-- FastCGI Application Configuration -->
    <fastCgi>
      <application fullPath="C:\Python313\python.exe"
                   arguments="C:\Python313\Lib\site-packages\wfastcgi.py"
				   activityTimeout="600"
				   idleTimeout="900"
				   instanceMaxRequests="10000"
				   requestTimeout="1000">
        <environmentVariables>
          <environmentVariable name="WSGI_HANDLER" value="app.app" />
          <environmentVariable name="PYTHONPATH" value="C:\Websites\BlueStatus" />
          <environmentVariable name="WSGI_LOG" value="C:\Python313\DCW_Logs\wfastcgi.log" />
          <environmentVariable name="PYTHON_ENV_PATH" value="C:\Websites\BlueStatus\.env" />
          <environmentVariable name="AZURE_TENANT_ID" value="8d05cdc4-bf69-4e6a-b5d3-428050a7f00f" />
          <environmentVariable name="AZURE_CLIENT_ID" value="0e97fde2-8d49-4ea4-b24f-3ef7597057b2" />
          <environmentVariable name="AZURE_ADMIN_GROUP_ID" value="198488f0-69b5-4d4d-9b12-e1d3939b2edc" />
		  <environmentVariable name="WSGI_AUTO_RELOAD" value="false" />
        </environmentVariables>
      </application>
    </fastCgi>

    <rewrite>
      <rules>
        <rule name="HTTPS Redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
